/* Media Query para desktops */
@media (min-width: 1200px) {
    body {
        font-size: 16px;
        max-width: 960px;
        margin: 0 auto;
    }

    .main {
        padding: 20px;
    }

    .main .header {
        height: 100px;
    }
}

/* Media Query para laptops */
@media (min-width: 768px) and (max-width: 1199px) {
    body {
        font-size: 14px;
    }

    .main {
        padding: 15px;
    }

    .main  .header {
        height: 80px;
    }
}

/* Media Query para tablets */ 
@media (min-width: 481px) and (max-width: 767px) {
    body {
        font-size: 12px;
    }

    .main {
        padding: 10px;
    }

    .main .header {
        height: 60px;
    }
}

/* Media Query para celulares */
@media (max-width: 480px) {
    body {
        font-size: 10px;
    }

    .main {
        padding: 5px;
    }

    .main .header {
        height: 40px;
    }
}